{% style %}

.all-categories nav ul {
  list-style:none;
  /* transition:2s all ease; */
}
.all-categories nav ul > li {
  padding: 5px 10px;
  border:1px solid #ccc;
  background-color:#ccc;
}
.all-categories nav ul > li.active > ul {
  /* max-height:2000px;
  height:auto; */
}
.all-categories nav ul > li > ul {
  /* height:0;
  max-height:0;

  overflow:hidden;
  transition:2s all ease; */
  display:none;
 }

.all-categories nav ul li > ul > li {
  /* list-style: bullet; */
  border:none;
}
{% endstyle %}

<script>

$( document ).ready(function() {
  console.log("ready");
  $(".top-category").on("click", function(e){
    e.preventDefault();
    
      $(this).find(".top-category:first-child").slideToggle()
      
  })
})
</script>

<div class="all-categories">
<nav role="navigation">
    {%- for link in linklists.vintage-military-theme.links -%} 
      {% comment %} <li> {% endcomment %}
        {% comment %} <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a> {% endcomment %}

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
              <li class="top-category">
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul class="child-categories">
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      {% comment %} </li> {% endcomment %}
    {%- endfor -%}
</nav>
</div>