{% style %}

.all-categories .top-category {
  list-style:none;
  margin:0; 
  padding:0;
  /* background-color:#ccc; */
  /* transition:2s all ease; */
}
.all-categories .top-category > li {
  padding: 5px 10px;
  border:1px solid #ccc;
  margin:0; 
}

.all-categories .child-categories {
  display:none;
  
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  height:auto;
  max-height:400px;
  font-size:14px;
  list-style: none;
}

.all-categories .child-categories > li {
  /* background-color:white;  */
  margin:0;
  border:none;
}
.all-categories .top-category {
  font-size:20px;
}

{% endstyle %}

<script>

$( document ).ready(function() {
  console.log("ready");
  $(".top-category").on("click", function(e){
    e.preventDefault();
    
      $(this).children("ul").slideToggle()
        
  })
})
</script>

<div class="all-categories">
  <h2>Browse by Category</h2>
<nav role="navigation">
    {%- for link in linklists.vintage-military-theme.links -%} 
      {% comment %} <li> {% endcomment %}
        {% comment %} <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a> {% endcomment %}

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
              <li class="top-category">
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul class="child-categories">
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      {% comment %} </li> {% endcomment %}
    {%- endfor -%}
</nav>
</div>