<div class="index-section">
    <div class="page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
      {%- if section.settings.title != blank -%}
        <div class="section-header">
          <h2 class="section-header__title">
            {{ section.settings.title }}
          </h2>
          {%- if section.settings.text != blank -%}
            <div class="rte section-header__rte">{{ section.settings.text }}</div>
          {%- endif -%}
        </div>
      {% endif %}
  
      <div class="form-vertical">
        {%- assign form_id = 'quote-' | append: section.id -%}
        {%- form 'contact', id: form_id -%}
  
          {%- if form.posted_successfully? -%}
            <p class="note note--success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {%- endif -%}
  
          {{ form.errors | default_errors }}
  
          <div class="grid grid--small">
            <div class="grid__item medium-up--one-half">
              <label for="ContactFormFirstName-{{ section.id }}">First Name</label>
              <input type="text" required="required" id="ContactFormFirstName-{{ section.id }}" class="input-full" name="contact[firstname]" autocapitalize="words" value="{% if form.firstname %}{{ form.firstname }}{% elsif customer %}{{ customer.firstname }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="ContactFormLastName-{{ section.id }}">Last Name</label>
              <input type="text" id="ContactFormLastName-{{ section.id }}" class="input-full" name="contact[lastname]" autocapitalize="words" value="{% if form.lastname %}{{ form.lastname }}{% elsif customer %}{{ customer.lastname }}{% endif %}">
            </div>
            
            <div class="grid__item medium-up--one-whole">
              <label for="ContactFormAgency-{{ section.id }}">Department/Agency</label>
              <input type="text" aria-required="true" id="ContactFormAgency-{{ section.id }}" class="input-full" name="contact[agency]" autocapitalize="words" value="{% if form.agency %}{{ form.agency }}{% elsif customer %}{{ customer.agency }}{% endif %}">
            </div>

        <div class="grid__item medium-up--one-half">
            <label for="ContactFormEmail-{{ section.id }}">Email Address</label>
            <input type="email" aria-required="true" id="ContactFormEmail-{{ section.id }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
        </div>
        
        <div class="grid__item medium-up--one-half">
            <label for="ContactFormPhone-{{ section.id }}">Phone Number</label>
            <input type="tel" id="ContactFormPhone-{{ section.id }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        </div>


            
        <div class="grid__item medium-up--one-whole">
          <label for="ContactFormAddress1-{{ section.id }}">Address</label>
          <input type="text" id="ContactFormAddress1-{{ section.id }}" class="input-full" name="contact[address1]" autocapitalize="words" value="{% if form.address1 %}{{ form.address1 }}{% elsif customer %}{{ customer.address1 }}{% endif %}">
        </div>

            
        <div class="grid__item medium-up--one-whole">
          <label for="ContactFormAddress2-{{ section.id }}">Address 2</label>
          <input type="text" id="ContactFormAddress2-{{ section.id }}" class="input-full" name="contact[address2]" autocapitalize="words" value="{% if form.address2 %}{{ form.address2 }}{% elsif customer %}{{ customer.address2 }}{% endif %}">
        </div>

            
  </div>
          <label for="ContactFormMessage-{{ section.id }}">{{ 'contact.form.message' | t }}</label>
          <textarea rows="5" id="ContactFormMessage-{{ section.id }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
  
          <label for="contact-form-submit-{{ section.id }}" class="hidden-label">{{ 'contact.form.send' | t }}</label>
          <button type="submit" id="contact-form-submit-{{ section.id }}" class="btn">
            {{ 'contact.form.send' | t }}
          </button>
  
          {% comment %}
            Remove the following three lines of code to remove the note
            about being protected by Google's reCAPTCHA service.
            By removing it, the small reCAPTCHA widget will appear in the
            bottom right corner of the page.
          {% endcomment %}
          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
  
        {%- endform -%}
      </div>
    </div>
  </div>
  
  {% schema %}
  {
    "name": "Quote Form",
    "class": "index-section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Request for Quote"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow Column",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Quote Form"
      }
    ],
    "disabled_on": {
      "groups": ["footer", "header", "custom.popups"]
    }
  }
  {% endschema %}
  