{%- style -%}
  .partners-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }

  .partner-text {
    margin: 0 10%;
  }

  .partner-image {
    width:200px;
  }
  
  .flickity-page-dots {display:none}

{%- endstyle -%}

<div
  class="text-center partners-section partners-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} partners-section--with-divider{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="partners"
  data-aos>
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="slideshow-wrapper">
      <div class="partners-slider" id="partners-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {%- for block in section.blocks -%}
          <div
            class="partners-slide partners-slide--{{ block.id }}"
            data-index="{{ forloop.index0 }}"
            {{ block.shopify_attributes }}>
                {%- if block.settings.image != blank -%}
                <div class="partner-image">
                    <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                    {%- liquid 
                        assign sizeVariable = '142px'
                        assign fallback = sizeVariable
                        -%}
                        {%- render 'image-element',
                        img: block.settings.image,
                        sizeVariable: sizeVariable,
                        fallback: fallback,
                        widths: '180, 360, 540, 720',
                        -%}
                        </div>
                    </div>
                {%- endif -%}
              
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Partners",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Proudly Partnered With"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background-color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "partner",
      "name": "Partner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Partner Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Partners",
      "blocks": [
        {
          "type": "partner"
        },
        {
          "type": "partner"
        },
        {
          "type": "partner"
        },
        {
          "type": "partner"
        },
        {
          "type": "partner"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
